[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
pandas = "*"
flask = "*"

[requires]
python_version = "3.7"
